<nav aria-label="Global navigation">
  <a class="nav-brand" href="{{ '/' | relative_url }}" aria-label="{{ site.title }} home">
    <img src="/assets/mochimochi-kun.svg" width="50" height="50">
    <span>{{ site.title }}</span>
  </a>
  <div class="nav-right">
    <a class="top-link" href="{{ '/docs/getting-started/' | relative_url }}">Docs</a>
    <a class="top-link" href="{{ '/docs/api/services/' | relative_url }}">API</a>
    <a class="btn btn-ghost btn-sm" href="https://github.com/mochiOS" rel="noreferrer">GitHub</a>
  </div>
</nav>
